# .streamlit/secrets.toml
# NE JAMAIS COMMITER CE FICHIER — ajouté dans .gitignore
# Copier depuis .env.example et remplir avec vos vraies clés

[sentinel]
user     = "votre_email@example.com"
password = "votre_mot_de_passe"

[sentinel_hub]
client_id     = "votre_client_id"
client_secret = "votre_client_secret"

[usgs]
username = "votre_username"
password = "votre_mot_de_passe"

[mapbox]
token = "pk.eyJ1IjoivotreProfil..."
